.loader{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    
    & svg{
        animation: spin 0.5s ease-in  infinite;
        width: 2rem;
        height: 2rem;

    }
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}